<div class="center hero-unit">
	<h1>ReRide Bikes</h1>
	<h2>Welcome to ReRide Bikes!</h2>
</div>

<h2>ReRide will be launching soon.... For now, tell us about yourself</h2>


<h2>
	<%= label_tag 'I am a...' %> 
	<%= link_to "Bike Shop",    bike_shop_signup_path %><br>
	<%= link_to "Reseller",    new_reseller_path %><br>
	<%= link_to "Customer",    new_customer_path %>
</h2>


<%= link_to image_tag("ReRide Logo.png", alt: "ReRide"), root_path %>
