<div class="jumbotron">
	<div class="container">
		<div class="pull-left">
			<h1>Bicycle buyback, simple and easy.</h1>
			<p><strong>With guaranteed pricing and local drop-off, ReRide takes the pain out of selling a used bike</strong></p>
			<%= link_to "Get Started", root_path(:anchor => "Quotes"), class: "btn btn-warning btn-lg", role: "button" %>
		</div>
	</div>
</div>

<%= render 'how_it_works' %>

<div class = "center">
	<h1>
		<%= content_tag(:a, '', :name => 'Quotes') %>
		Get A Quote
	</h1>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:bike, :url => {:controller => 'bikes', :action => 'search'}, :html => {:role => "form", :class => "form-horizontal"}) do |f| %>
	    <div class="form-group">
		    <%= label :make_id, 'Make' %>
			<%= collection_select(:bike, :make_id, Make.all, :id, :name, {include_blank: true}, {:class=>'form-control'})%>
		</div>
		
		<div class="form-group">
			<div id="bikeModels"
				<p><%= render 'shared/model_questions_fields', :current_models => [] %></p>
			</div>
		</div>

		<div class="form-group">
			<div id="modelYears"
				<p><%= render 'shared/year_questions_fields', :current_years => [] %></p>
			</div>
		</div>
		<%= f.submit "Show Quote", class: "btn btn-primary btn-lg" %>
	<% end %>
  </div>
</div>


<!--
<h2>
<p class="text-left">
<strong>PROBLEM: </strong>Joe wants to sell his used bike. But selling a used bike on Craigslist is a pain in the a...... multiple emails, negotiations, meeting strangers at your door....
</p>
<br>
<strong>SOLUTION:</strong> ReRide. 
<br>
<br>
<p class="text-left">
<strong>STEP 1:</strong> Joe goes to www.reridebikes.com.  Finds his used bicycle in our database and receives an immediate quote for how much money we will give him for his bike.  
<br>
<strong>STEP 2:</strong> Joe chooses a bike shop in his area that is partnered with ReRide. Joe takes his bike to the bike shop. 
<br>
<strong>STEP 3:</strong> Joe's bike is inspected at the bike shop and Joe is then approved for payment.  Joe leaves his bike at the bike shop and gets money in his pocket!
<br>
<strong>STEP 4:</strong> ReRide and its partner bike shops help find Joe's bike a new owner and his bike lives to ride another day! 
<br>
</p>
All is right in the world.</h2>

-->


<!--<h2>
	<%#= link_to image_tag("ReRide Logo.png", alt: "ReRide"), root_path %></p>
	<%#= label_tag 'I am a...' %> 
	<%#= link_to "Bike Shop",    bike_shop_signup_path %><br>
	<%#= link_to "Reseller",    new_reseller_path %><br>
	<%#= link_to "Customer",    new_customer_path %>
</h2>-->