<% provide(:title, 'New Quote') %>
<h1>Get a Quote</h1>
<div class="row">
  <div class="span6 offset3">
    
    <div class="form-group">
	    <%= label :make_id, 'Make' %>
		<%= collection_select(:bike, :make_id, Make.all, :id, :name, {include_blank: true}, {:class=>'form-control'})%>
	</div>
	
	<div class="form-group">
		<div id="bikeModels"
			<p><%= render 'shared/model_questions_fields', :current_models => [] %></p>
		</div>
	</div>

	<div class="form-group">
		<div id="modelYears"
			<p><%= render 'shared/year_questions_fields', :current_years => [] %></p>
		</div>
	</div>
  </div>
</div>

<%= link_to line_items_path(product_id: product), 
          class: "btn btn-larg btn-primary",
          method: :put %>

<%= link_to 'Back', quotes_path %>





