<% provide(:title, 'New Quote') %>
<h1>Get a Quote</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@quote, :html => { :multipart => true}) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>
	    <%= f.fields_for :bikes do |builder| %>
  			<p><%= render 'shared/bike_questions_fields', :f => builder %></p>
	    <% end %>
	    <%= f.submit "Show Quote", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>
<%= link_to 'Back', quotes_path %>
