<ol>
	<li><%= reseller.name %></li> 
	<li><%= reseller.city %></li> 
	<li><%= reseller.state %></li> 
	<li><%= reseller.zip_code %></li> 
  	<li><%= reseller.street_address %></li> 
	<li><%= reseller.phone_number %></li> 
	<li><%= reseller.website %></li> 
</ol>