<% provide(:title, 'Reseller Signup') %>
<h1>Reseller Signup</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@reseller) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>
	    <%= render 'shared/business_questions_fields', :f => f %>
	    <%= f.fields_for :users do |builder| %>
	    	<%= render 'shared/user_questions_fields', :f => builder %>
	    <% end %>
	    <%= link_to_add_fields "Add Employee", f, :users %> <br>
	    <%= f.submit "Signup My Company", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>

<%= link_to 'Back', resellers_path %>
