<div class ="center">
	<h1>Transaction Found!</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render :partial => 'shared/quote_info', :locals => {:quote => quote} %>
  </div>
</div>


<%= form_for :transaction, :html => { :role => "form", :class => "form-horizontal", :multipart => true } do |f| %>

  <%#= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :quote_id, :value => quote.id %>
  <%= f.hidden_field :customer_id, :value => quote.customer_id %>

  <%= f.fields_for :inspections do |g| %>
  
    <% Inspection::INSPECTION_HASH.each do |key, value| %>
      <h1> <%=key.titleize %> </h1>
      <div class="form-group">
        <% value.each do |k, v| %>
          <%= g.radio_button key, v %>
          <%= g.label key, k %>
        <% end %>
      </div>
    <% end %> 

    <div class="form-group">
      <%= g.label :additional_info, "Any Additional Info:" %>
      <%= g.text_area :additional_info %>
    </div>
  <% end %>

  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>





