<div class ="center">
	<h1>Transaction Found!</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render :partial => 'shared/quote_info', :locals => {:quote => quote} %>
  </div>
</div>

<%= form_for(inspection, :html => { :role => "form", :class => "form-horizontal", :multipart => true}) do |f| %>
  
  <%= render 'shared/error_messages', object: f.object %>
  
  <% Inspection::INSPECTION_HASH.each do |key, value| %>
    <h1> <%=key.titleize %> </h1>
    <div class="form-group">
      <% value.each do |k, v| %>
        <%= f.radio_button key, v %>
        <%= f.label key, k %>
      <% end %>
    </div>
  <% end %> 

  <div class="form-group">
    <%= f.label :additional_info, "Any Additional Info:" %>
    <%= f.text_area :additional_info %>
  </div>

  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>





