<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Your Info</div>
    <ul class="list-group">
      <li class="list-group-item"><strong>First Name: </strong><%= customer.first_name %></li>
      <li class="list-group-item"><strong>Last Name: </strong><%= customer.last_name %></li>
      <li class="list-group-item"><strong>E-Mail: </strong><%= customer.email %></li>
      <li class="list-group-item">
      	<strong>Address: </strong>
      	<address>
      		<%= customer.street_address %><br> 
      		<%= customer.city %> <%= customer.state %> <%= customer.zip_code %>
      	</address>
      </li>
      <li class="list-group-item"><strong>Phone Number: </strong><%= customer.phone_number %></li>
    </ul>
  </div>
</div>


