<% provide(:title, @customer.first_name) %>
<div class ="center">
	<h1>Welcome <%= @customer.first_name %>!</h1>
</div>

<div class="row">
  <div class="col-md-12">
      <% for quote in @customer.quotes %>
        <div class="center">
          
            ReRide will give you up to <strong><%= number_to_currency((quote.bike.like_new_value)*0.6) %></strong> for the bike listed below. Please take your bike to <%= link_to "Helen's Cycles", "http://helenscycles.com/" %> for inspection.  <br>
            Your transaction ID is: <strong>#<%= quote.id %></strong>.  An email with this information has been sent to your email below.
          
        </div>
      <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h1>Your Info: </h1>
    <%= render 'customer_info', customer: @customer %>
    <%= link_to 'Edit', edit_customer_path(@customer) %> 
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
</div>

 <div class="row">
  <div class="col-md-6">
  	<h1>Bike Info: </h1>
      <% for quote in @customer.quotes %>
        <ul class="list-group">
          <li class="list-group-item"><strong>Make: </strong><%= quote.bike.make.name %></li>
          <li class="list-group-item"><strong>Model: </strong><%= quote.bike.model.name %></li>
          <% year = Year.find_by(:year_value => quote.bike.year_id) %>
          <li class="list-group-item"><strong>Year: </strong><%= year.year_value %></li>
          <li class="list-group-item"><strong>Side Picture </strong><br><%= image_tag quote.side_picture.url(:medium), :class =>"img-rounded" %></li>
          <li class="list-group-item"><strong>Front Picture </strong><br><%= image_tag quote.front_picture.url(:medium), :class =>"img-rounded" %></li>
        </ul>
        <%= link_to 'Edit', edit_quote_path(quote) %>
      <% end %>
  </div>
</div>
