<h1>Bikes</h1>

<%= will_paginate %>
<table>
  <%= render 'bike_header' %>
  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <%= render 'bike_table_row_info', :object => bike%>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>

<%= link_to 'New Bike', new_bike_path %>
