<% provide(:title, 'New Quote') %>
<h1>Get a Quote</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@bike, :html => { :multipart => true}) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>
    	<p><%= render 'shared/make_questions_fields', :f => f %></p>

		<div id="bikeModels"
	  		<p><%= render 'shared/model_questions_fields', :f => f, :current_models => [] %></p>
		</div>
		<div id="modelYears"
		  	<p><%= render 'shared/year_questions_fields', :f => f, :current_years => [] %></p>
		</div>

		<%= f.label :name, 'Picture of Bike (from the side)' %>
		<%= f.file_field :side_picture %>

	    <%= f.submit "Show Quote", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>
<%= link_to 'Back', bikes_path %>
