<p id="notice"><%= notice %></p>

<p>
  <strong>Year Manufactures:</strong>
  <%= @bike.year_manufactured %>
</p>

<p>
  <strong>Make:</strong>
  <%= @bike.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @bike.model %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @bike.kind %>
</p>

<p>
  <strong>Msrp:</strong>
  <%= @bike.msrp %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @bike.current_price %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
