<p>
  <strong>Make:</strong>
  <%# make = Make.find(@bike.make_id) %>
  <% make = @bike.make %>
  <%= make.name %>
  <strong>Model:</strong>
  <% model_temp = Model.find(@bike.model_id) %>
  <%= model_temp.name %>
  <strong>Year:</strong>
  <% year = Year.find(@bike.year_id) %>
  <%= year.year_value %>
  <br>
  <%= image_tag @bike.side_picture.url(:medium) %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
