<ol>
	<li><%= bike_shop.name %></li> 
	<li><%= bike_shop.city %></li> 
	<li><%= bike_shop.state %></li> 
	<li><%= bike_shop.zip_code %></li> 
  	<li><%= bike_shop.street_address %></li> 
	<li><%= bike_shop.phone_number %></li> 
	<li><%= bike_shop.website %></li> 
</ol>