<% provide(:title, @bike_shop.name) %>
<h1><%= @bike_shop.name %></h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@bike_shop) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>
	    <%= render 'shared/business_questions_fields', :f => f %>
	    <%= f.fields_for :users do |builder| %>
	    	<%= render 'shared/user_questions_fields', :f => builder %>
	    <% end %>
	    <%= link_to_add_fields "Add Employee", f, :users %> <br>
	    <%= f.submit "Submit Changes", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>

<%= link_to 'Show', @bike_shop %> |
<%= link_to 'Back', bike_shops_path %>
