<% provide(:title, 'Bike Shop Signup') %>
<h1>Bike Shop Signup</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@bike_shop) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>
	    <%= render 'bike_shop_questions_fields', :f => f %>
	    <%= f.fields_for(:user) do |builder| %>
	    	<%= render 'user_questions_fields', :f => builder %>
	    <% end %>
	    <%= f.submit "Signup My Bike Shop", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>