<% provide(:title, @bike_shop.name) %>
<h1><%= @bike_shop.name %></h1>
  <div class="row">
    <div class="span6 offset3">
    	<%= @bike_shop.name %>, 
    	<%= @bike_shop.city %>, 
    	<%= @bike_shop.state %>, 
    	<%= @bike_shop.zip_code %>, 
		<%= @bike_shop.street_address %>,
		<%= @bike_shop.phone_number %>,
		<%= @bike_shop.website %>
		<%= @bike_shop.user %>


    </div>
  </div>

