<% provide(:title, @transaction.customer.first_name) %>
<div class ="center">
	<h1>Hi <%= @transaction.customer.first_name %>!</h1>
</div>

<% if @transaction.status == "Inspected" %>

  <%= render 'inspected_transaction_info' %>

<% elsif @transaction.status == "Declined" %>

  <%= render 'declined_transaction_proof' %>

<% end %>

<div class="row">
  <div class="col-md-4">
    <%= render 'shared/customer_info', customer: @transaction.customer %>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
</div>

 <div class="row">
  <div class="col-md-6">
    <% for quote in @transaction.customer.quotes %>
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Bike Info</div>
          <%= render :partial => 'shared/quote_info', :locals => {:quote => @transaction.quote} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'confirm_modal' %>