<% provide(:title, @transaction.customer.first_name) %>
<div class ="center">
	<h1>Hi <%= @transaction.customer.first_name %>!</h1>
</div>

<% if @transaction.status == "Inspected" %>

  <%= render 'inspected_transaction_info' %>

<% elsif @transaction.status == "Declined" %>

  <%= render 'declined_transaction_proof' %>

<% elsif @transaction.status == "Accepted" %>

  <%= render 'accepted_transaction_info' %>

<% end %>

<div class="row">
  <div class="panel-group" id="accordion">
    
    <%= render 'shared/customer_info', customer: @transaction.customer %>
    
    <% for quote in @transaction.customer.quotes %>

      <%= render :partial => 'shared/quote_info', :locals => {:quote => @transaction.quote} %>

    <% end %>
  
  </div>
</div>

<%= render 'confirm_modal' %>